@charset "utf-8";
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-r-35 {
    margin-right: 35px;
}
.main-bg {
    background: #1f303f;
}
.banner-bg {
    background: #2c465e;
}
.main-c {
    color: #7f97bd;
}
.border-c {
    color: #3c576f;
}
.light-c {
    color: #43c6f7;
}
.f-r {
    float: right;
}
.border-0 {
    border: none !important;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
}
li {
    list-style: none;
}

header.ui.text.menu {
    height: 60px;
    width: 100%;
    background: #2c465e;
    margin: 0;
    padding: 0 40px;
    display:-webkit-flex;
	display:flex;
}
header > div {
    flex: 1;
    color: #bfe8fa !important;
    font-size: 1.6rem;
} 
header .item > img {
    width: auto !important;
    margin-right: 15px !important;
}
header .nav {
    flex: 1;
    background: url('img/title.png') no-repeat;
    background-size: contain;
    margin: 0 3%;
}
header .nav ul {
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:center;
    justify-content:center;
    font-size: 16px;
}
header .nav ul li {
    padding: 0 10px;
}
header .nav ul li.nav-l {    
    margin-right: 20%;
}
header .nav ul li.nav-r {
    margin-left: 20%;
}
header .nav ul li a {
    color: #7f97bd;
}
header .nav-r {
    flex: 0 0 auto;
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
}
header .nav-r img {
    vertical-align: middle;
}
.cont.ui.grid {
    margin: 0px;
    padding-left: 40px;
    padding-right: 30px;
}
.cont.ui.grid>.column:not(.row) {
    padding: 0;
}
.cont.ui.grid .cont-left {
    padding-right: 50px !important;
}
.cont.ui.grid .cont-middle {
    padding-right: 40px !important;
}
.cont .item {
    margin-top: 30px;
    padding-bottom: 15px;
}
.cont .item .title {
    position: relative;
    color: #7f97bd;
    border-bottom: 1px solid #3c576f;
    padding-bottom: 10px;
}
.cont .item .title .line {
    position: absolute;
    left: 0;
    bottom: -1px;
    display: inline-block;
    width: 3%;
    height: 1px;
    background: #3fb4e1;
}
.cont .item > img {
    margin-top: 20px;
    max-width: 100%;
}
.cont .eight .item.data {
    display:-webkit-flex;
    display:flex;
    color: #7f97bd;
    background: #20394f;
    -webkit-justify-content:center;
    justify-content:center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
}
.cont .eight .item.data .list {
    flex: 1;
}
.cont .eight .item.data .list p:nth-child(1) {
    font-size: 3rem;
    color: #43c6f7;
    margin-bottom: 20px;
}
.cont .eight .item.data .list p {
    margin: 0;
    text-align: center;
    line-height: normal;
}
.cont .eight .item.data .list p.normal {
    font-size: 1.6rem;
    color: #7f97bd;
    margin-top: 0.5rem;
}
.cont .eight .item.warn {
    margin-top: 15px;
}
.cont .eight .item.warn .warn-list {
    border-bottom: 1px solid #3c576f;
    padding: 10px 0;
    font-size: 1.4rem;
}
.cont .eight .item.warn .warn-list > div {
    color: #81a9cd;
    margin-bottom: 10px;
}
.cont .eight .item.warn .warn-list > div img {
    margin-right: 10px;
}
.cont .eight .item.warn .warn-list > p {
    color: #89a5d3;
    margin-left: 35px;
}
.cont .item table {
    width: 100%;
    font-size: 1.3rem;
    color: #7f97bd;
}
.cont .item table th {
    font-weight: normal;
    background: #20394f;
    height: 35px;
}
.cont .item table td {
    text-align: center;
    border-bottom: 1px solid #3c576f;
    height: 35px;
}
.cont .notice-ul {
    margin: 0;
    color: #7f97bd;
    font-size: 1.3rem;
    padding: 0;
}
.cont .notice-ul li {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: disc;
    margin-left: 1rem;
}
.cont .notice-ul li p {
    line-height: 0;
    margin: 0;
    padding-bottom: 5px;
}
.cont .notice-ul li p > span {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.cont .notice-ul li > div {
    color: #4a6883;
}