//
   Created by slipkinem on 2016/8/31.
extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}

block scripts
      script $(document).ready(function () {console.log('dom ready');});
